/* use semicolons in css like java!!! */

body {  /* selector: defines HTML element it applies to */
    color: #FF0000;  /* declarations block */
    color: #414141;    /* Dark gray */
    background-color: #EEEEEE;    /* Light gray */
    font-size: 18px;
  }

  h1 {
    /* font-size: 36px; */
    font-size: 2em; /* em scales font size */
  }

  h2 {
    /* font-size: 28px; */
    font-size: 1.63m;
  }

  h1, h2, h3, h4, h5, h6 {  /* select multiple html elements */
    font-family: "Helvetica", "Arial", sans-serif;
    font-weight: normal; 
  }

  ul {
    list-style-type: circle;
  }
  
  ol {
    list-style-type: lower-roman;
  }

  a {
    text-decoration: none;
  }

  p {
    text-align: left;
  }