* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header-container {
    background-color:lightsalmon;
    display: flex;
    justify-content: center;
  }
  
  .header {
    height: 200px;
    width:900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightskyblue;
  }




.menu {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:palevioletred;
    background-color: peachpuff;
    font-size: 40;
    text-align: center;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.photo-grid-item-2 {
  height:200px;
}


h1 {
    font-size: 60px;
    text-align:center;
    color:palevioletred;
    background-color:peachpuff;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a:link {
    color:darkred;
    text-decoration: none;
  }
  a:visited {
    color:darkred;
    text-decoration: none;
  }
  a:hover {
    color:darkred;
    text-decoration: underline;
  }
  a:active {
    color:darkred;
    text-decoration: none;
  }

p, li {
    font-size:24;
    text-align:left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:lightgrey;
}
body {
    font-size:40px;
    color:antiquewhite;
    background-color:rosybrown;

}



